:root {
    --white: #fff;

    /* Color styles: "Export styles to CSS variables" */
    --hornets-purple: #1C1060;
    --hornets-teal-dk2: #006071;
    --hornets-teal-dk1: #006C7F;
    --hornets-teal: #00788D;
    --hornets-teal-lt1: #1A8598;
    --hornets-teal-lt2: #3393A4;
}

.white {
    color: var(--white);
}

.white-bg {
    background-color: var(--white);
}

.hornets-teal {
    background-color: var(--hornets-teal);
}

.hornets-teal-bg {
    background-color: var(--hornets-teal);
}

.hornets-purple {
    color: var(--hornets-purple);
}

.hornets-purple-bg {
    background-color: var(--hornets-purple);
}

a,
a:link,
a:visited,
a:active,
a:hover {
    color: var(--hornets-teal);
}

.page-title-img {
    max-height: 30px !important;
}

footer a {
    text-decoration: none !important;
}



/* FRONT PAGE */

.front-menu a,
.front-menu a:link,
.front-menu a:visited,
.front-menu a:active,
.front-menu a:hover {
    color: #fff !important;
    text-decoration: none !important;
    display: block;
    padding: 1rem;
    box-sizing: border-box;
}

.front-menu-box {
    border-radius: 25px;
    background-color: rgba(0, 0, 0, .1);
    border: 2px solid #0B869C;
}

.front-menu-box:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #21C1DD;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.08);
}

.btn-hornets {
    /* color */
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
    /* bg */
    --bs-btn-bg: var(--hornets-teal);
    --bs-btn-hover-bg: var(--hornets-teal-dk2);
    --bs-btn-active-bg: var(--hornets-teal-dk2);
    /* border */
    --bs-btn-border-color: var(--hornets-teal-dk1);
    --bs-btn-hover-border-color: var(--hornets-teal-dk1);
    --bs-btn-active-border-color: var(--hornets-teal-dk1);
    /* shadow */
    --bs-btn-focus-shadow-rgb: var(--hornets-teal);
}

.btn-outline-hornets {
    /* color */
    --bs-btn-color: var(--hornets-teal);
    --bs-btn-hover-color: var(--hornets-teal);
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
    /* bg */
    --bs-btn-bg: var(--bs-white);
    --bs-btn-hover-bg: var(--hornets-teal);
    --bs-btn-active-bg: var(--hornets-teal);
    /* border */
    --bs-btn-border-color: var(--hornets-teal);
    --bs-btn-hover-border-color: var(--hornets-teal);
    --bs-btn-active-border-color: var(--hornets-teal);
    /* shadow */
    --bs-btn-focus-shadow-rgb: var(--hornets-teal);
}







/* FREE THROW */

table#shotResults {
    width: 100%;
}

table#shotResults tr {
    width: 100%;
    height: 20px;
}


/* SHOT TRACKER */

.shotTrackerInfo {
    margin-left: 1rem;
}

.shot-menu-group svg {
    max-width: 1rem;
    max-height: 1rem;
    margin: .1rem;
}

.shot-menu path,
.shot-menu circle,
.shot-menu rect {
    fill: var(--hornets-teal);
}

.shot-menu-toggle path,
.shot-menu-toggle circle,
.shot-menu-toggle rect {
    fill: var(--bs-white);
}

.removeGroup {
    display: none;
}

#clickMap {
    background-color: rgba(255, 0, 0, .5);
    position: relative;
    width: 100%;
}

#svgBgImage {
    width: 100%;
    height: auto;
    user-select: none;
}

#svgDiv {
    /* background-color: rgba(0,255,0,.5); */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#svgDiv svg {
    /* background-color: rgba(0,0,255,.5); */
    min-height: 80%;
}